mixin tab-item(headText,bodyText,active)
	div(class=active ? 'tab-item js_tab-item active' : 'tab-item js_tab-item') 
		.tab-head
			.tab-head__text= headText
			.tab-head__active-indicator
		.tab-body.js_tab-body!= bodyText

mixin progress-bar(text, percentage)
	.progress-bar
		.progress-bar__outer
			.progress-bar__inner(style={'max-width': percentage +'%'})
				span.progress-bar__text= text + " "
				span.progress-bar__percentage= percentage + "%"


